@import '../Setting.scss';

.reset_section_2 {
    background-color: #20293e;
    padding-top: 5%;

    .box {
        border: 1px solid #ffffff90;
        border-radius: 10px;
        padding: 10%;
        .title1 {
            color: $primary-color1;
            font-family: NexaLight;
            font-size: 35px;
        }
        .title2 {
            color: $primary-color1;
            font-family: NexaLight;
            font-size: 20px;
            padding-bottom: 20px;
        }
    }
    .panel {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.reset_section_3 {
    background-color: #20293e;
}